.creation{
      text-align: center;
      background-color: #fff0f5;
      width: 800px;
      margin-left: 267px;
      height: 450px;
      margin-top: 5px;
}
#content{
      margin-top: 20px;

}

.submition{
      margin-top: 10px;
}
#header5{
      text-align: center;
      margin-right: 135px;
      color: #808080;
      font-size: 15px;
      margin-top: 5px;
}
#header55{
    text-align: center;
    margin-right: 135px;
    color: #808080;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 35px;
}
.title{
      text-align: center;
      font-size: 24px;
      color: #00ccff;
      background-color: #fff0f5;
      width: 250px;
      margin-left: 540px;
      height: 50px;

}
