<!doctype html>
<html lang="en">
  <head>
    <title>The founder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
  </head>
  <body>
    <div id="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: #ffffff;">F-Forums</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: #ffffff;">Profle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #ffffff;">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.facebook.com/saifeddin01" style="color: #ffffff;">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_info') }}" style="color: #ffffff;">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #ffffff;">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <main class="bd-masthead" id="content" role="main">
      <div class="container p-5">
        <div class="row align-items">
          <div class="col-6 mx-auto col-md-6 order-md-1">
            <img class="rounded-circle" src="/static/images/seif.jpg" alt="" width="220" height="300">
          </div>
          <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
            <h1 class="mb-3 bd-text-purple-bright" style="color: #a6acb2;">Founder</h1>
            <h2 class="mb-3 bd-text-purple-bright">Saifeddin Matoui</h2>
            <p class="lead">
              I am a self-taught talented developer who loves almost everything about programming.
            </p>
            <p class="lead mb-4">
              My journey to programming started when I met Python (my love).Now Im learning web developement and planning to be a Full-Stack web developer and why not a mobile developer as well(I got to think about this =) )
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      
      <div class="container">
        <div class="row">
          <a href="https://www.facebook.com/saifeddin01"> <i class="fa fa-facebook-square fa-4x"></i></a>
          <a href="https://twitter.com/saifeddin01"> <i class="fa fa-twitter-square fa-4x"></i></a>
          <a href="https://www.instagram.com/sifo.io/"> <i class="fa fa-instagram-square fa-4x"></i></a>
          <a href="https://www.github.com/saifeddin1"> <i class="fa fa-github-square fa-4x"></i></a>
        </div>
      </div>
      
      
      
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>