<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h1 >One Million Arab Coders Forum</h1>
    <header>Done by Sifo_THeCoder</header>

    <table cellpadding="10" cellspacing="10" >
        <tr>
            <th><a href="">Members</a></th>
            <th><a href="">Home Page</a></th>
            <th><a href="">Profile</a></th>
        </tr>
          <td>
                <hr>
           </td>
        <tr>
            <td class="creation"><a href="">Create a new post</a></td>
            <td class="titles">Edit</td>
            <td class="titles">Delete</td>
        </tr>
        <tr>
            <td>
                <ul class="posts">
                  {% for post in posts %}
                  <li>{{ post.title }}</li>
                  {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="edition">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Edit</a></li>
                  <li><a href="">Edit</a></li>
                  <li><a href="">Edit</a></li>
                  <li><a href="">Edit</a></li>
                </ul>
            </td>
            <td>
                <ul class="deletion">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Delete</a></li>
                  <li><a href="">Delete</a></li>
                  <li><a href="">Delete</a></li>
                  <li><a href="">Delete</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <footer>Done by Sifo_TheCoder <b>V1.1</b></footer>
</body>
</html>
