<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <h1>One million arab coders</h1>
      </nav>
    </div>
  <header>Done by Sifo_THeCoder</header>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="creation"><a href="{{ url_for('topic_add')}}">Create a new post</a></th>
        <th class="titles">Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="list-group">
            {% for post in posts %}
              <li class="list-group-item"><a href="{{ url_for('topic_show', id = post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-group">
            {% for post in posts %}
              <li class="list-group-item"><a href="{{ url_for('topic_edit', id = post.id) }}">Edit</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-group">
            {% for post in posts %}
              <li class="list-group-item"><a href="{{ url_for('topic_delete', id = post.id) }}">Delete</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</table>
<footer>Done by Sifo_TheCoder <b>V1.1</b></footer>
</body>
</html>