<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <div id="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: #ffffff;">F-Forums</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: #ffffff;">Profle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #ffffff;">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.facebook.com/saifeddin01" style="color: #ffffff;">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_info') }}" style="color: #ffffff;">About</a>
            </li>            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #ffffff;">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <!--Blank space-->
    
      <div class="box">
      </div>
    <!--END OF Blank space-->
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="creation">
            Posts <button type="button" class="btn btn-outline-primary btn-sm"><a href="{{ url_for('topic_add') }}"> + Create a new post</a></button>
          </th>
          <th class="titles">Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul class="list-group">
              {% for post in posts %}
                <li class="list-group-item"><a class="btn-sm btn-light" href="{{ url_for('topic_show', id = post.id) }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="list-group">
              {% for post in posts %}
                <li class="list-group-item"><a class="btn-sm btn-info" href="{{ url_for('topic_edit', id = post.id) }}">Edit</a></li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="list-group">
              {% for post in posts %}
                <li class="list-group-item"><a class="delete_topic btn-sm btn-danger" id="{{ post.id }}" href="#">Delete</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </table>
  <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">

      <span class="text-muted"><strong>Done by</strong><em>♥Sifo_TheCoder♥</em></span><b> v1.5 </b>| © 2018
    </div>
  </footer>
</body>
</html>
<!--JQuery-->
<script
src="/static/js/jquery-3.3.1.js">
</script>
<!--delete api Js-->
<script
src="/static/js/topic.delete.js">
</script>